$yellow: #F8B52A;
$white: #FFF;
$blue: #2B63AF;

$yellow60: #F8B52A60;
$blue60: #2B63AF60;

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #FFF;
  overflow-x: hidden;
}

*::selection {
  background: $yellow;
	color: $white;
}
*::-moz-selection {
  background: $yellow;
	color: $white;
}
