$yellow: #f9b633;
$white: #FFF;
$blue: #2B63AF;

$yellow60: #f9b63360;
$blue60: #2B63AF60;

$blue30: #2B63AF30;

body {
  margin: 0;
  padding: 0;
  font-family: "Teko";
  color: #FFF;
  overflow-x: hidden;
  background-color: #121219;
}

*::selection {
  background: $yellow;
	color: $white;
}
*::-moz-selection {
  background: $yellow;
	color: $white;
}
