/* teko-300 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local('Teko Light'), local('Teko-Light'),
       url('../fonts/teko-v9-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/teko-v9-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-regular - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'),
       url('../fonts/teko-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/teko-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-500 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: local('Teko Medium'), local('Teko-Medium'),
       url('../fonts/teko-v9-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/teko-v9-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-600 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: local('Teko SemiBold'), local('Teko-SemiBold'),
       url('../fonts/teko-v9-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/teko-v9-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-700 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: local('Teko Bold'), local('Teko-Bold'),
       url('../fonts/teko-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/teko-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}
