@font-face {
  font-family: Raleway;
  src:   url("../fonts/raleway/raleway-extrabold.woff") format('woff');
}
@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}
