/* Servers */

.server {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6rem auto;
  grid-gap: 1rem;
  background-color: #232323;
  min-height: 100vh;
  padding: 2rem 15% 2rem 15%;

  h4 {
    grid-column: 1 / 3;
    font-size: 3rem;
    margin: auto;
  }

  .server_content {
    width: 100%;
    font-size: 2rem;
    margin: 0;
    font-family: "Lato";
    padding: 1.3rem auto;
    display: grid;
    grid-template-rows: 20rem 4rem;

    & iframe {
      padding-top: .5em;
      margin: auto;
    }

    & h2 {
      margin: auto;
      font-size: .8em;
      font-family: Lato;
    }
  }
}

@media screen and (max-width: 650px) {
  .server {
    grid-template-columns: 1fr;

    h4 {
      grid-column: 1 / 2;
    }

    .server_content {
      font-size: 1rem;

      & h2 {
        margin: auto;
        font-size: .8em;
        font-family: Lato;
        text-align: center;
      }
    }
  }
}
