.tournamentBody {
  background-color: $blue;
  grid-column: span 1;
  padding: .4rem;
  height: 8rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 1rem;
  text-decoration: none;
  color: $white;
  font-family: Lato;
  cursor: pointer;
  transform: scale(1);
  transition: transform 150ms ease;

  &:hover {
    transform: scale(1.01);
    transition: transform 150ms ease;
  }

  & img {
    height: 100%;
    margin: auto;
    margin-left: 0;
  }
}

.upcomingTournaments {
  background-color: #232323;
  display: grid;
  padding: 1rem 15%;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding-bottom: 5rem;
  padding-top: 5rem;

  .upcomingTournaments .title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  & h1 {
    margin: 0;
  }
}

.tournamentInfoRight {
  text-align: right;
}

.media {
  display: grid;
  padding: 1rem 15%;
  text-align: center;
}

iframe {
  margin: auto;
}

.tournamentInfo {
  display: grid;
  padding: 1rem 17.5% 0 17.5%;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 1rem;
  grid-template-rows: 15rem;
  font-family: Lato;
}

.general {
  grid-column: 1 / 2;
  margin: auto 0;
}

.additional {
  grid-column: 2 / 3;
  margin: auto 0;
  text-align: right;
}

.tournamentInfo img {
  height: 50%;
  margin: auto 0 auto auto;
}

.buttonContainer, .tournamentPlacement {
  grid-column: 1 / 4;
  text-align: center;
}

.tournamentPlacement {
  background-color: $blue;
}

.buttonContainer a {
  text-decoration: none;
}

.button {
  border: 2px solid $yellow;
  padding: .2rem .4rem;
  background: #ffffff00;
  -webkit-transition: background ease-in-out 150ms;
  text-align: center;
  color: #FFF;
  width: 50%;
  margin: auto;
}

.button:hover {
  background: $yellow;
  color: #FFF;
  -webkit-transition: background ease-in-out 150ms;
}

.matches {
  padding: 1rem 15%;
  font-family: Lato;
  background-color: $yellow;
  background-image: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & h2 {
    grid-column: 1 / 3;
  }
}


@media screen and (max-width: 650px) {

  .upcomingTournaments {
    background-color: #232323;
    display: grid;
    padding: 1rem 5%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-bottom: 5rem;
    padding-top: 5rem;

    & h1 {
      font-size: 2rem;
    }
  }

  .tournamentBody {
    background-color: $blue;
    grid-column: span 1;
    padding: .4rem;
    height: 8rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    text-decoration: none;
    color: $white;
    font-family: Lato;
    cursor: pointer;
    transform: scale(1);
    transition: transform 150ms ease;

    &:hover {
      transform: scale(1.01);
      transition: transform 150ms ease;
    }

    & img {
      display: none;
    }
  }


    .tournamentInfo {
      padding: 1rem 5% 0 5%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      text-align: left;

      & img {
        height: auto;
        width: 80%;
        margin: auto;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }

    .general {
      margin: 0;
      grid-column: 1 / 3;
    }

    .additional {
      grid-column: 1 / 2;
      margin: auto 0;
      text-align: left;
      grid-row: 2 / 3;
    }

    .buttonContainer, .tournamentPlacement {
      grid-column: 1 / 3;
      text-align: center;
    }

    .button {
      font-size: 1.5rem
    }

    .matches {
      width: 90%;
      padding: 1rem 5%;
      font-family: Lato;
      background-color: #F8B52A;
      background-image: none
    }

    .match {
      width: 100%;
      grid-template-columns: 1fr;
    }

    iframe {
      width: auto;
      height: auto
    }

    .media {
      padding: 1rem 5%;
    }
}
