@charset "UTF-8";
@font-face {
  font-family: Raleway;
  src:   url("../fonts/raleway/raleway-extrabold.woff") format('woff');
}
@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #FFF;
  overflow-x: hidden;
}

*::selection {
  background: #F8B52A;
	color: #FFF;
}
*::-moz-selection {
  background: #F8B52A;
	color: #FFF;
}

/* Index */

.background_top {
  height: 80vh;
  background-image: url(../image/backgrounds/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.background_top h1 {
  text-align: center;
  padding-top: 10%;
  font-size: 5em;
  text-shadow: 0 0 30px #000;
  margin: 0;
}

.background_top span {
  display: block;
  color: #F8B52A;
  line-height: .5em
}

/* Header */

.header {
  height: 6em;
  width: 100%;
  font-family: "Lato";
  text-decoration: none;
  background-color: #F8B52A;
  width: 100%;
  color: #FFF;
  display: grid;
  grid-template-columns: 20% 15% 60% 5%;
  grid-template-rows: 6em;
  align-items: center;
}

.header img {
  height: 80%;
  grid-column: 1 / 2;
  margin: 0 auto;
}

.header nav {
  text-align: right;
  grid-column: 3 / 4;
  height: 100%
}

.header ul {
  margin: 0;
  height: 100%
}

.header li {
  display: inline-block;
  height: 100%
}

.header a {
  color: #FFF;
  text-decoration: none;
  padding-right: 1.5em;
  padding-left: 1.5em;
  grid-column: 1 / 2;
  height: 100%;
  display: grid;
  align-items: center;
}

.toggle {
  display: none;
  width: 100%;
  font-size: 2rem;
  margin: 0;
  height: 100%;
  line-height: 3em;
}

.arrow {
  position: absolute;
  font-size: 4em;
  top: 70vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.arrow_button {
  text-decoration: none;
  color: #F8B52A;
  text-shadow:  0 0 20px #000
}

.about {
  height: 25vh;
  background-color: #2B63AF;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.about img {
  grid-column: 2 / 3;
  height: 80%;
  margin: auto;
}

.about_text {
  grid-column: 3 / 5;
  margin: auto;
}

.about h1 {
  font-size: 2em;
  margin: 0;
  padding-bottom: .5rem;
  margin: auto;
}

.about p {
  font-family: "Lato";
  font-size: 1em;
  margin: auto;
}

.matches {
  width: 100vw;
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
  height: auto;
  background-image: url(../image/backgrounds/matches.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.matches_background {
  height: calc(100% + 3rem);
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1
}

.matches h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  padding-top: 1rem;
  text-shadow: 0 0 30px #000;
}

.card_body{
  background: linear-gradient(to top right, #ffffff80, #ffffff70);
  width: 70vw;
  height: 10rem;
  display: grid;
  font-family: "Lato";
  margin: 1.5rem auto auto auto;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10rem;
}

.card_left, .card_right {
  display: grid;
}

.card_left img {
  height: 80%;
  grid-column: 1 / 2;
  margin: auto;
}

.card_middle {
  grid-column: 2 / 3;
  text-align: center;
  margin: auto;
  text-shadow: 0 0 10px #000000;
}

.card_middle h2 {
  font-size: 1.5em;
  margin: 0;
}

.card_middle a {
  font-size: 1.3em;
  margin: 0;
  color: #F8B52A;
  font-family: "Raleway";
  text-decoration: none
}

.card_middle h3 {
  font-size: 3.3em;
  margin: auto;
}

.card_right img {
  height: 80%;
  grid-column: 3 / 4;
  margin: auto;
}

.footer {
  height: auto;
  background: #232323;
  color: #FFF;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  grid-template-rows: 6rem;
  font-family: "Lato";
}

.footer_logo {
  grid-column: 7 / 8;
  height: 100%;
  align-items: right;
  margin: auto;
}

.footer ul {
  display: inline-block;
  grid-column: 1 / 5;
  text-align: left;
  justify-items: start;
  padding: 0;
  margin: auto 0;
}

.footer li {
  display: block;
  justify-items: start;
}

.footer hr {
  grid-column: 1 / 8;
  border: solid .5px #FFF;
  width: 90%
}

.footer__partner {
  grid-column: 1 / 8;
  background-color: #282828;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem
}

.partner {
  grid-column: span 2;
  margin: auto;
}

.partner a {
  width: 100%;
}

.partner img {
  width: 100%
}

.links {
  grid-column: 1 / 7;
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.links h3 {
  margin: 0
}

.links_right {
  text-align: right;
  width: auto;
  margin: auto;
  grid-column: 4 / 7;
  margin: auto 0;
}

.links a {
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  color: #F8B52A;
  padding-right: .5rem;
  margin: auto 0;
}

.links_right a {
  font-size: 2rem
}

.links a:hover {
  color: #FFF;
  cursor: pointer;
}

/* Index News */

.news__section {
  background-color: #F8B52A;
  text-align: center;
  padding-top: 2rem;
}

.news__section h1 {
  margin: 0;
}

.news {
  width: 100vw;
  height: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 2rem 0;
  background-color: #F8B52A;
  font-family: "Lato";
  margin: 0 auto;
  text-align: left;
}

.news img {
  width: 100%;
  box-shadow: 0 0 30px #00000040
}

.article_list h1 {
  font-family: "Raleway";
}

.article_list a {
  text-decoration: none;
  color: #FFF;
}

.article_list h5 {
  margin: 0;
}

.article_list hr {
  border: .5px solid #FFF;
}

.article_list:nth-of-type(1) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.article_list:nth-of-type(2) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* About */

.about_body {
  width: 100%;
  font-family: "Lato";
  background-color: #2B63AF;
  min-height: 100vh;
  padding-top: 1rem
}

.about_content h1 {
  font-family: "Raleway";
  font-size: 3em
}

.about_content img{
  width: 100%
}

.about_content {
  width: 50%;
  padding: 1em;
  margin: 0 25%;
}

/* Servers */

.server {
  column-count: 2;
  column-gap: 3rem;
  -webkit-column-count: 2;
  -webkit-column-gap:   3rem;
  -moz-column-count:    2;
  -moz-column-gap:      3rem;
  text-align: center;
  background-color: #2B63AF;
  min-height: 100vh;
  padding: 1rem .5rem;
}

.server h4 {
  column-span: all;
  -webkit-column-span: all;
  -moz-column-span: all;
  font-size: 3rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.server_content {
  width: 100%;
  font-size: 2rem;
  column-span: 1;
  -webkit-column-span: 1;
  -moz-column-span: 1;
  margin: 0;
  font-family: "Lato";
  padding: 1.3rem auto;
  display: block;
}

.server_content h1 {
  font-size: 2em;
  margin: .5rem;
}

.server_content h2 {
  margin: .5rem;
  font-size: 1em;
}

@media (max-width:1050px) {

  .background_top h1 {
    font-size: 5em;
  }

 .matches h1 {
   font-size: 4em;
 }

 .matches span {
   font-size: 2.5rem;
 }

.background_about h1 {
  font-size: 3em
}

 .background_about p {
   width: 80%;
   display: block;
   font-size: .8em;
   padding: 1rem;
 }

 .about_top img {
   width: 100%;
   padding: 0;
   padding-bottom: 1rem
 }

 .about_middle img {
   width: 100%;
 }

  .card_body{
    width: 90vw;
    height: 20vh;
  }

  .card_middle {
    height: 100%;
    text-align: center;
    display: inline-block;
    margin: 0;
    text-shadow: 0 0 10px #000000
  }

  .card_middle h2 {
    font-size: 2em;
    margin: 0;
  }

  .card_middle a {
    font-size: 1.6em;
    margin: 0;
    color: #F8B52A;
    font-family: "Raleway"
  }

  .about {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .about img {
    display: none
  }

  .about_text {
    grid-column: 2 / 3;
    margin: auto;
  }

}


@media (max-width:700px) {

  .background_top h1 {
    font-size: 4em;
    padding-top: 40%;
  }

  .arrow {
    top: 80vh;
  }

  .about {
    height: 60vh;
    font-size: .8em
  }

  ul {
    display: none
  }

  /* Header */

  .header {
    height: 6em;
    width: 100%;
    font-family: "Lato";
    text-decoration: none;
    background-color: #F8B52A;
    width: 100%;
    color: #FFF;
    display: grid;
    grid-template-columns: 30% 40% 20% 10% ;
    grid-template-rows: 6em;
    align-items: center;
    position: relative;
    z-index: 1000000000000000;
  }

  .toggle {
    display: block;
    font-size: 2rem;
    grid-column: 3 / 4;
    height: 100%;
    display: grid;
    align-items: center;
    line-height: 3em;
  }

  .active {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-left: 0;
    top: 6em;
    left: 0;
    height: auto;
    background-color: #F8B52A;
    margin: 0;
  }

  .active li {
    width: 100%;
    padding: 1.5em 0;
    height:
  }

  .header ul {
    height: auto;
  }

  .about_content {
    width: calc(100% - 2em);
    margin: 0;
  }

  .card_left, .card_right, .card_middle h3 {
    display: none
  }

  .card_middle {
    grid-column: 1 / 4
  }

  .matches h1 {
    font-size: 1.8em
  }

  .matches span {
    font-size: .6em
  }

  /* Servers */

  .server {
    column-count: 1;
    column-gap: 1rem;
    -webkit-column-count: 1;
    -webkit-column-gap:   1rem;
    -moz-column-count:    1;
    -moz-column-gap:      1rem;
  }

  .server h4 {
    font-size: 2rem;
  }

  .server_content h1 {
    font-size: 1.5em;
    margin: .2rem;
  }

  .server_content h2 {
    margin: .5rem;
    font-size: 1em;
  }

  .news {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .article_list:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .article_list:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .article_list {
    padding: 0 2rem
  }

  .footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer ul {
    grid-column: 1 / 3;
  }

  .footer_logo {
    grid-column: 3 / 4;
  }

  .footer hr {
    grid-column: 1 / 4;
  }

  .footer h1 {
    grid-column: 1 / 4;
  }

  .partner {
    grid-column: 1 / 4;
  }

  .links {
    grid-column: 1 / 4;
  }

  .links_right {
      text-align: left;
      grid-column: 1 / 7;
  }
}

@media (max-width:700px) {

  .background_top h1 {
    font-size: 5em;
  }

  .arrow {
    font-size: 2em;
    top: 80vh;
  }

  .about {
    height: 60vh;
    font-size: .8em
  }

  ul {
    display: none
  }

  .active {
    display: block;
  }

  .navbar li {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: #F8B52A;
    font-size: 3vw;
  }

  .navbar ul {
    margin-top: 0;
    margin-right: -1.5em;
  }
}

@media (max-width:500px) {

  .background_top h1 {
    font-size: 3em;
  }

  .arrow {
    font-size: 2em;
    top: 80vh;
  }

  .about {
    height: 60vh;
    font-size: .8em
  }

  ul {
    display: none
  }

  .active {
    display: block;
  }

  .toggle {
    display: block;
    font-size: 2rem;
    grid-column: 3 / 4;
    height: 100%;
  }

  .navbar li {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: #F8B52A;
    font-size: 3vw;
  }

  .navbar ul {
    margin-top: 0;
    margin-right: -1.5em;
  }

}
